{% include 'necessaries/navbar.html' %}
{% block content %}
<div class="mt-4 p-5 bg-warning text-black rounded">
    <h1>Data Visualization</h1></div>
    <table border='1' class='table table-success table-border table-striped table-repsonsive'>
        <thead><tr><th scope='col'>Record ID</th><th scope='col'>Market Name</th>
    <th scope='col'>Region</th> <th scope='col'>Market District</th>
    <th scope='col'>Market Address</th><th scope='col' colspan='2'>Market Contact</th>
    <th scope='col'>Openinghours</th><th scope='col'>Coordinate</th><th scope='col'>Tenancy Type</th></th>
    <th scope='col'>Timestamp</th></tr></thead>
        </table>
{% endblock %}
