<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{{ url_for('static',filename='css/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='css/bootstrap/js/jquery-3.3.1.slim.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='css/bootstrap/js/popper.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/own.css')}}">
    <title>Website</title>
</head>
<body>
    
</body>

</html>