<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{{ url_for('static',filename='css/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='css/bootstrap/js/jquery-3.3.1.slim.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='css/bootstrap/js/popper.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='css/fontawesome/all.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/own.css')}}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/own.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/fontawesome/all.min.css') }}">
    
    <title>Navbar</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-success">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="#00FF00"></span></button>
        <div class="container-fluid">
          <div class="navbar" id="theme">
            <a href="{{ url_for('index') }}" class="navbar-brand " >Online People Counter</a></div>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
              <li class="nav-item" >
                <a class="nav-link" href="{{ url_for('index') }}" id="wording">
                <i class="fa solid fa-record-vinyl" aria-hidden="true"></i>
                Camera
              </a></li>
              <li class="nav-item" >
                <a href="" class="nav-link" id="wording">
                  <i class="fa-solid fa-database"></i>
                  Data
                </a></li>
                <li class="nav-item" >
                  <a href="{{ url_for('visualize') }}" class="nav-link" id="wording">
                    <i class="fa-solid fa-chart-column"></i>
                    Visualize
                  </a></li>
                  <li class="nav-item">
                    <a href="" class="nav-link" id="wording">
                      <i class="fa-solid fa-circle-info"></i>
                      Info
                    </a></li>
                    <li class="nav-item">
                      <a href="{{ url_for('setting') }}" class="nav-link" id="wording">
                        <i class="fa-solid fa-gear"></i>
                        Settings
                      </a></li>
            </ul>
          </div>
        </div>
      </nav>
</body>
</html>