<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{{ url_for('static',filename='/css/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='/css/bootstrap/js/jquery-3.3.1.slim.min.js'}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='/css/bootstrap/js/popper.min.js'}}"></script>
    <link ref="stylesheet" href="{{ url_for('static',filename='/css/bootstrap/css/bootstrap.min.css'}}">
    <title>Website</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-success">
        <div class="container-fluid">
          <div class="navbar" id="theme">Online People Counter</div>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
              <li class="nav-item" id="1"><a class="nav-item" id="wording">123</a></li>
            </ul>
          </div>
        </div>
      </nav>
</body>
</html>